.App {
    background-color: #000;
    color: #fff;
}
.row{
    display: flex;
}
.col{
    width: 50px;
    height: 50px;
    border-color: #fff;
}
.cell{
    background-color: #000;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
}
.col{
    &__selector{
        &-00{
            background-color: yellow !important;
        }
        &-01{
            background-color: green !important;
        }
        &-02{
            background-color: blue !important;
        }
        &-03{
            background-color: red !important;
        }
    }
    &__board{
        background-color: #000;
    }
}